@tailwind base;
@tailwind components;
@tailwind utilities;




/* =========================== Root Style Variables ================================= */
:root {
    --theme-color:limegreen;
    --white-color:#fff;
    --shine-degree: 120deg;
    --shine-color: rgba(255, 255, 255, 0.3);
    --shine-effect: linear-gradient(
      var(--shine-degree),
      transparent,
      var(--shine-color),
      transparent
    );
  }






/* ========================= Button Style Starts ==================================== */
.btn-theme-color{
    background: var(--theme-color);
    color: var(--white-color);
}
.btn-shine {
    text-decoration: none;
}

.btn-shine::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
}

.btn-shine::before {
    left: -100%;
    transition: all 0.54s ease-in-out;
}
.btn-shine:hover::before {
    left: 100%;
}



@-webkit-keyframes shine {
    0% {
        left: -100%;
        transition-property: left;
    }
    11.5044247788%, 100% {
        left: 100%;
        transition-property: left;
    }
}

@keyframes shine {
    0% {
        left: -100%;
        transition-property: left;
    }
    11.5044247788%, 100% {
        left: 100%;
        transition-property: left;
    }
}
/* ========================= Button Style Starts ==================================== */



.video-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .video-wrapper video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }